<table class="calembar">
  <thead>
    <tr>
      <th>
        <button {{action "addMonths" -1}}>«</button>
      </th>
      <th colspan="5">
        {{currentMonthDisplay}}
      </th>
      <th>
        <button {{action "addMonths" 1}}>»</button>
      </th>
    </tr>
    <tr>
      {{#each date in firstRow}}
        <th>{{date.weekday}}</th>
      {{/each}}
    </td>
  </thead>
  <tbody>
    {{#each rows}}
      <tr>
        {{#group}}
          {{#each this}}
            <td {{bind-attr class="className"}}>
              <a href="#" {{action "selectDate" date}}>{{day}}</a>
            </td>
          {{/each}}
        {{/group}}
      </tr>
    {{/each}}
  </tbody>
</table>
